<!DOCTYPE html>

<html>
    <head>
        <title>
            LMS Portal
        </title>
    </head>

    <body>
        <div class="beginers-summary">Elevate your English skills
            for confident communication</div>
<div class="overview">Here's an overview of 
    the course</div>
<div>

<div class="course-blocks">

    <div class="beginers-course-info1">
        <div class="beginers-head">Beginners</div>
        <div class= "beginersheader">Start your language journey!</div>
        <div class= "beginersinfo">Building essential skills for 
            effective communication</div>
    </div>

    
    <div class="beginers-course-info2">
        <div class="beginers-head">Intermediate</div>
        <div class= "beginersheader">Take the next step in your language mastery </div>
        <div class= "beginersinfo">Elevating your vocabulary, grammar, and 
            communication prowess!</div>
    </div>


    <div class="beginers-course-info3">
        <div class="beginers-head">Advanced</div>
        <div class= "beginersheader">Advance to excellence</div>
        <div class= "beginersinfo">refining complex language, grammar, and communication
            for professional and academic success</div>
    </div>

</div>

<div class=buttonelement>
    <a><button href="http://127.0.0.1/moodle4.1/moodle/?redirect=0">
        Take Benchmark test
    </button></a>
</div>

    </body>
</html>